*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: Arial, Helvetica, sans-serif; }

header {
  position: fixed;
  width: 100%; }

h1 {
  text-align: center;
  background-color: yellow;
  padding: .35em 0; }

ul {
  list-style: none; }

main {
  padding-top: 3rem;
  display: flex;
  flex-wrap: wrap; }

.articulos {
  padding: 1.5rem;
  width: 80%;
  background-color: #ccc; }
  .articulos article {
    margin-top: 3rem; }
  .articulos h2 {
    text-align: center; }
  .articulos p {
    margin-top: 1rem; }

aside {
  position: fixed;
  width: 20%;
  top: 3.71rem;
  min-height: 90vh;
  right: 0;
  background-color: #333; }

.menu {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }
  .menu--item {
    flex: auto; }
  .menu--link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.5em;
    color: yellow;
    transition: all .5s; }
    .menu--link:hover, .menu--link.active {
      background-color: yellow;
      color: #333; }
