html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif; }

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  background-color: #fafafa; }

h1 {
  text-align: center;
  margin: 2rem auto; }

img {
  max-width: 100%;
  height: auto; }

input {
  font-size: 1em;
  padding: .35em .5em;
  border: 1px solid #ccc;
  border-radius: 5px; }

button {
  font-size: 1em;
  cursor: pointer; }

.main {
  width: 80%;
  max-width: 1200px;
  margin: 1rem auto; }
  .main form {
    display: flex;
    margin: 1rem auto; }
  .main input {
    flex-grow: 5;
    margin-right: 1rem; }
  .main button {
    flex-grow: 1; }

.peliculas {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1.5rem; }

.pelicula {
  background-color: yellow;
  box-shadow: 1px 1px 3px #ccc;
  overflow: hidden;
  border-radius: 6px; }
  .pelicula img {
    width: 100%; }
  .pelicula h2, .pelicula p {
    margin-top: 1.15rem;
    text-align: center; }
  .pelicula p {
    padding: 0 1rem 1rem; }
